.home {
  margin-top: var(--margin-top-size);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100dvh - 125px);
  overflow-y: hidden;
}

.home__container {
  height: 50vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home__textBox {
  width: 25vw;
  color: var(--thrid-color);
}

.home__h1 {
  font-size: 43px;
  margin-bottom: 5px;
}

.home__p {
  font-size: 22px;
}

.home__logo {
  height: 500px;
  width: 450px;
}

@media screen and (max-width: 1600px) {
  .home__container {
    width: 70vw;
  }

  .home__h1 {
    font-size: 39px;
  }

  .home__p {
    font-size: 19px;
  }

  .home__logo {
    height: 450px;
    width: 400px;
  }
}

@media screen and (max-width: 1120px) {
  .home__h1 {
    font-size: 37px;
  }

  .home__p {
    font-size: 17px;
  }

  .home__logo {
    height: 400px;
    width: 350px;
  }
}

@media screen and (max-width: 840px) {
  .home__container {
    width: 95vw;
  }

  .home__h1 {
    font-size: 35px;
  }

  .home__p {
    font-size: 15px;
  }

  .home__logo {
    height: 380px;
    width: 330px;
  }
}

@media screen and (max-width: 685px) {
  .home {
    margin-top: 0;
    height: calc(100dvh - 90px);
  }

  .home__container {
    margin-top: 50px;
    flex-direction: column;
    height: 100%;
  }

  .home__textBox {
    width: 50%;
    margin-top: -20px;
  }

  .home__h1 {
    font-size: 30px;
  }

  .home__p {
    font-size: 15px;
  }

  .home__logo {
    height: 260px;
    width: 260px;
  }
}

@media screen and (max-width: 460px) {
  .home__container {
    justify-content: center;
  }

  .home__textBox {
    width: 80%;
    margin: 0;
  }

  .home__logo {
    margin-top: 30px;
    height: 280px;
    width: 280px;
  }
}

@media screen and (max-width: 380px) {
  .home__logo {
    height: 230px;
    width: 230px;
  }
}

@media screen and (max-width: 330px) {
  .home {
    height: calc(100dvh - 70px);
  }
}
