:root{
    --secondary-color: #FF5D1C;
    --thrid-color: #D6D6D6;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.home__container{
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home__textBox{
    width: 25vw;
    color: var(--thrid-color);
}

.home__h1{
    font-size: 43px;
    margin-bottom: 5px;
}

.home__p{
    font-size: 22px;
}

.home__logo{
    height: 450px;
    width: 400px;
}