@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --primary-color: #202020;
  --secondary-color: #ff5d1c;
  --thrid-color: #d6d6d6;
  --margin-top-size: 75px;
  --footer-height: 50px;
  --footer-icons-size: 30px;
  --footer-icons-grow: 50px;
  --icon-container-width: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media screen and (max-width: 685px) {
  :root {
    --margin-top-size: 50px;
  }
}

@media screen and (max-width: 380px) {
  :root {
    --margin-top-size: 40px;
  }
}
